@import '_fonts';
@import '_colors';
@import '_images';
@import '_animations';

body {
	background-color: $eureka;
	height: calc(100vh - 16px);
	//add fix for height for mobile
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 64px;
	gap: 0px 0px;
	grid-template-areas:
		'main'
		'footer';

	main {
		grid-area: main;
		width: 100%;
		height: 100%;
	}

	footer {
		grid-area: footer;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid $steam;

		.c-social {
			display: inline-block;
			width: 48px;
			height: 48px;
		}

		.c-instagram {
			background-image: url($instagram);
		}

		.c-facebook {
			background-image: url($facebook);
		}

		.c-linkedin {
			background-image: url($linkedin);
		}
	}

	.c-cover {
		display: flex;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		justify-content: center;
		align-items: center;
		background-color: $black;

		@media (prefers-reduced-motion: no-preference) {
			animation: fadeOut 2s cubic-bezier(0.6, 0, 0.8, 0.4) 3s;
		}

		.c-name {
			font-family: 'Mella Nissa', 'Times New Roman';
			font-size: 4.2vw;
			color: $eureka;
			user-select: none;

			@media (prefers-reduced-motion: no-preference) {
				animation: fadeIn 3s ease;
			}
		}
	}
}
