@import '_fonts';
@import '_colors';
@import '_images';
@import '_animations';

body {
	display: grid;
	height: calc(100vh - 16px);
	background-color: $eureka;
	grid-template:
		'main' 1fr
		'footer' 64px;

	main {
		width: 100%;
		height: 100%;
		grid-area: main;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-area: footer;
		border-top: 1px solid $steam;

		.c-social {
			display: inline-block;
			width: 48px;
			height: 48px;
		}

		.c-instagram {
			background-image: url($instagram);
		}

		.c-facebook {
			background-image: url($facebook);
		}

		.c-linkedin {
			background-image: url($linkedin);
		}
	}

	.c-cover {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background-color: $black;

		@media (prefers-reduced-motion: no-preference) {
			animation: fadeOut 2s cubic-bezier(0.6, 0, 0.8, 0.4) 3s;
		}

		.c-name {
			font-family: 'Mella Nissa', 'Times New Roman';
			font-size: 4.2vw;
			color: $eureka;
			user-select: none;

			@media (prefers-reduced-motion: no-preference) {
				animation: fadeIn 3s ease;
			}
		}
	}
}
