@font-face {
	font-family: 'Mella Nissa';
	src: local('Mella Nissa'), url('./20193.woff2') format('woff2'), url('./20193.woff') format('woff'),
		url('./20193.ttf') format('truetype'), url('./20193.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
